/.github
/public
/test
/.vscode
/tsconfig.json
/package-lock.json
/SECURITY.md
/docs
/src
/.prettierrc
/.gitignore
/.prettierignore
/COMMIT_CONVENTION.md
/CONTRIBUTING.md
/tsconfig.cjs.tsbuildinfo
/tsconfig.esm.tsbuildinfo
/scripts/esm-post-process.mjs
/tsconfig.json
/tsconfig.esm.json
/tsconfig.cjs.json
/CNAME
/.vercelignore
